/*  your css code here. If applicable */
body{
	background-color:yellow;
	text-align:center;
}
#f1{
   height:200px;
	width:200px;
	position:relative
}
#f2{
	height:200px;
	width:200px;
	position:static
}
